<!DOCTYPE html>
<html>
  <head>
    <title>Quicksilver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <script src="https://kit.fontawesome.com/d8305d6b57.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.Logo = "<%= image_url('logo.png') %>";
    </script>
    <script type="text/javascript">
      window.Hermes = "<%= image_url('Hermes.jpg') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
